/* Portfolio style sheet

/* html */
html {
  font-size: 30px;
  scroll-behavior: smooth;
}


* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* body */
body {
  margin: 0px;
  padding: 0px;
}

/* header */
header {
  padding: 20px 15px;
  background-color: rgb(202, 220, 252);
}

/* nav */
.nav-bar {
  background-color: rgb(202, 220, 252);
}

/* ul */
ul {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

/* li */
li {
  list-style-type: none;
}

/* a */
li a {
  color: rgb(0, 36, 107);
  text-decoration: none;
  padding: 20px;
}

.nav-bar a:hover {
  background-color: rgb(0, 36, 107);
  color: rgb(202, 220, 252);
}

/* main */

/* home */
#home {
  display: flex;
  justify-content: space-around;
  background-color: rgb(202, 220, 252);
  color: rgb(0, 36, 107);
  margin-bottom: 0px auto;
}

#home a {
  text-decoration: none;
}

.home-one {
  padding: 40px;
  margin: 20px;
  width: 300px;
  font-size: 1.9rem;
}

#home img {
  width: 550px;
  height: 600px;
}


.home-three {
  padding: 40px;
  margin: 20px;
  width: 350px;
  font-size: 1.1rem;
  margin-top: 5px;
}

/* about */

#about {
  background-color: rgb(0, 36, 107);
  height: 1000px;
  font-size: 30px;
}

#about a {
  text-decoration: none;
}

.ab-one {
  display: flex;
  justify-content: space-evenly;
  color: rgb(202, 220, 252);
  height: 500px;
}

.contact-one {
  width: 450px;
  margin: 70px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.contact-one>h2 {
  margin: 5px;
  font-size: 35px;
}
.contact-one-h2{
  font-size: 30px;
}

.ab-two {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  position: none;
}

.contact-two {
  border: 5px solid rgb(202, 220, 252);
  border-radius: 10px;
  background-color: rgb(202, 220, 252);
  color: rgb(0, 36, 107);
  height: 250px;
  width: 250px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  font-size: 22px;
  text-align: center;
}
.contact-two-child{
  height: 100px;
}
.contact-two-child>h3{
  margin-top: 0px;
}
.contact-two>p{
  margin-top:70px;
  font-weight: bolder;
}
.contact-two>i{
  font-size: 60px;
  margin: 0px;
}

#project {
  background-color: rgb(202, 220, 252);
}

.prt {
  display: flex;
  color: rgb(0, 36, 107);
  justify-content: space-evenly;
  font-size: 22px;
  padding-top: 30px;
}
.prt-one>a>img {
  width: 350px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.prt-one>h4{
  margin: 0px;
  text-align: center;
}
.prt>div{
  width: 350px;
}
#blog {
  background-color: rgb(0, 36, 107);
  color: rgb(202, 220, 252);
  font-size: 30px;
  height: 750px;
  margin-bottom: 0px;
  padding-top: 40px;
}

.blog-one {
  display: flex;
  justify-content: space-evenly;
}

.blog-one-one {
  width: 500px;
  height: 100px;
}

.blog-one-two-one {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.blog-one-two-one>h6 {
  width: 30px;
  padding-right: 40px;
}

.blog-one-two-one>i {
  padding-top: 40px;
}

.blog-two {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
}

.blog-two-one>img {
  height: 400px;
  width: 400px;
}
.blog-two-two>h2, h5, h6{
  margin-bottom: 0px;
  margin-top: 8px;
}
.words{
  width: 536px;
  text-align: end;
}
.blog-two-two>h2{
  font-size: 31px;
  line-height: 40px;
}

#contact {
  background-color: rgb(202, 220, 252);
  color: rgb(0, 36, 107);
  margin: 0px;
  height: 850px;
  padding:0px;
  text-align: center;
}

footer>h1 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  text-align: center;
  text-decoration: underline;
}

.footer_one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

fieldset {
  border-radius: 10px;
  margin: 20px;
  padding: 2px;
}

input {
  width: 400px;
  height: 25px;
  background-color: rgb(202, 220, 252);
  text-align: left;
  font-size: 18px;
  margin: 0px;
  border: none;
  outline: none;
}

textarea {
  width: 400px;
  background-color: rgb(202, 220, 252);
  text-align: left;
  font-size: 18px;
  border: none;
  outline: none;
}

::placeholder {
  color: rgb(0, 36, 107);
  font-weight: bold;
}

button {
  background-color: rgb(0, 36, 107);
  color: rgb(202, 220, 252);
  width: 425px;
  height: 60px;
  box-shadow: none;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.address {
  display: flex;
  align-content: baseline;
}

.address>h5,
i {
  margin: 20px 10px;
}

.footer_one_two_child_two {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(255, 107, 43);
  border-top: 2px solid rgb(255, 107, 43);
}

.icons {
  font-size: 40px;
}
footer>p{
  margin-bottom: 0px;
}
.back{
  margin: 0px;
  padding: 10px;
  text-align: end;
  height: 50px;
}
/* Small screens (mobile devices) */
@media(max-width: 1024px) {

  * {
    overflow-x: none;
  }
  ul{
    justify-content: center;
    padding-left: 0px;
  }
  li a{
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
  }
  html {
    font-size: 16px;
  }
#home>img{
   width: 400px;
   height:500px;
}
  img {
    width: 300px;
    height: 350px;
  }
  .home-one, .home-three{
    margin: 0px;
    padding:0px 0px 0px 10px;
    font-size: 25px;
    width: 412px;
  }

  #home,
  #about,
  .prt,
  .footer_one,
  .ab-one,
  .ab-two,
  .blog-one,
  .blog-two,
  #contact {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    font-size: 22px;
  }
  .contact-one{
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .ab-one>.contact-one>.contact-one-h2{
    font-size: 19px;
  }
  .ab-one>.contact-one>h2{
    font-size: 19px;
  }
  .contact-two{
    padding-right: 0px;
  }
  .ab-two{
    margin-top: 10px;
  }
  .prt-one{
    margin-top: 30px;
  }
 #blog{
     width: 100%;
    height: 1520px;
    flex-direction: column;
    font-size: 22px;
 }
 .blog-one{
  height: 600px;
 }
 .blog-one-one>h2{
  padding-left: 60px;
 }
 .blog-one-one>h6{
  padding-left: 60px;
 }
 .blog-two{
  height: 600px;
  padding-left: 10px;
 }
 .blog-one-one{
  height: 200px;
  font-size: 30px;
 }
  .blog-one-two> {
    font-size: 10px;
    height: 250px;
    width: 300px;
  }
.blog-one-two-one{
  justify-content: space-between;
  width: 400px;
  margin-top: 50px;
}
  .blog-one-two-one>h6, h5,i{
    margin-bottom: 0px;
  }
  .blog-two-two>h2{
    font-size: 30px;
  }
  .words{
    width: 400px;
  }
  .words>i{
    font-size: 19px;
  }
  #contact>p{
    margin: 0px;
    padding: 10px;
  }
  input, textarea, form,fieldset, button{
    width:380px;
    margin-right: 0px;
    margin-left: 0px;
  }
}