/* Portfolio style sheet */

/* html */
html{
  font-size: 30px;
}

/* body */
body{
  margin: 0px;
  padding: 0px;
}
/* header */
header{
  padding: 20px 15px;
  background-color: rgb(50, 52, 69);
}

/* nav */
.nav-bar{
  background-color: rgb(50, 52, 69);
}

/* ul */
ul{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

/* li */
li{
  list-style-type: none;
}

/* a */
li a{
  color: white;
  text-decoration: none;
  padding: 20px;
}

.nav-bar a:hover{
  background-color: rgb(254, 193, 88);
  color: black;
}

/* main */

/* home */
#home{
  display: flex;
  justify-content: space-around;
  background-color: rgb(50, 52, 69);
  color: white;
  margin-bottom: 0px auto;
}
#home a{
  text-decoration: none;
}
.home-one{
  padding: 40px;
  margin: 20px;
  width: 300px;
  font-size: 1.5rem;
}
#home img{
  width: 300px;
  height: 350px;
}
.icon i{
  padding: 15px;
}
.home-three{
  padding: 40px;
  margin: 20px;
  width: 350px;
  font-size: 1.1rem;
  margin-top: 5px;
}

/* about */

#about{
  background-color: rgb(35, 37, 51);
  height: 1000px;
  font-size: 30px;
}
#about a{
  text-decoration: none;
}
.ab-one{
  display: flex;
  justify-content: space-evenly;
  color: white;
  height: 500px;
}
.contact-one{
  width: 400px;
  margin: 70px;
}
.contact-one > h2{
  margin: 5px;
}
.contact-one > h6{
  margin: 3px;
}
.contact-one > h3{
  padding-bottom: 2px;
}
.child-contact-one{
  display: flex;
  margin-top: 5px;
}
.child-contact-one-child{
  display: flex;
}
.child-contact-one-child > h6{
  padding-left: 30px;
  margin-top: 5px;
}
.child-contact-one-child > h2{
  margin-top: 5px;
}
.ab-two{
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  position: none;
}
.contact-two{
  border: 5px solid rgb(50, 52, 69);
  background-color: rgb(50, 52, 69);
  color: white;
  height: 200px;
  width: 200px;
  padding: 40px 17px 20px 20px;
  margin: 10px;
}
.contact-two-child{
  display: flex;
}
.contact-two-child > h3{
  margin-top: 1px;
  padding-left: 8px;
}
#project{
  background-color: rgb(50, 52, 69);
}
.prt{
  display: flex;
  color: white;
  justify-content: space-evenly;
}
.prt > img{
  width: 300px;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#blog{
  background-color: rgb(35, 37, 51);
  color: white;
  font-size: 30px;
  height: 900px;
  margin-bottom: 0px;
}
.blog-one{
  display: flex;
  justify-content: space-evenly;
}
.blog-one-one{
  width: 500px;
  height: 100px;
}
.blog-one-two-one{
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}
.blog-one-two-one > h6{
  width: 30px;
  padding-right: 40px;
}
.blog-one-two-one > i{
  padding-top: 40px;
}
.blog-two{
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
}
.blog-two-one > img{
   height: 400px;
   width: 400px;
}
footer{
  background-color: rgb(50, 52, 69);
  color: white;
  margin: 0px;
  height: 800px;
}
footer>h1{
  margin: 0px 0px 20px 0px;
  padding-top: 30px;
  text-align: center;
  text-decoration: underline;
}
footer>p{
  text-align: center;
  margin: 10px;
}
.footer_one{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
}
.footer_one_one{
  margin-top: 90px;
}
.footer_icon{
  display: flex;
  width: 600px;
  height: 20px;
  margin-top: 50px;
}
.footer_icon>i{
  margin: 10px 0px 3px 0px;
}
.footer_icon>h4{
  margin: 20px 0px 3px 50px;
  color: rgb(254, 193, 88);
}
.icon_one{
  display: flex;
  justify-content: center;
}
.footer_one_two{
  margin-top: 150px;
}
.input_type{
  border: 1px rgb(50, 52, 69);
  background-color: rgb(50, 52, 69);
  padding: 30px;
  margin: 10px;
  width: 450px;
}
::placeholder{
  color:rgb(254, 193, 88);
}
button{
  background-color: rgb(254, 193, 88);
  color: white;
  font-size: 20px;
  padding: 20px;
  width: 450px;
  border-radius: 10px;
  border: 1px rgb(254, 193, 88);
}
@media(max-width: 1024px){
  #home{
      flex-wrap: wrap;
  }
}
